PORT=5003
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://mongo:27017/smart-career-tracker
NOTIFICATION_SERVICE_URL=http://notification-service:5004
MAX_FILE_SIZE=5242880
UPLOAD_DIR=uploads
