openapi: 3.0.3
info:
  title: Smart Internship & Career Ecosystem API
  version: 2.0.0
  description: |
    Enterprise-grade internship and career management platform API.
    Secured with Asgardeo OIDC. Rate limited by tier via WSO2 API Manager.
    All write operations count against the caller's daily quota.
  contact:
    name: Platform Team
    email: api@intern-tracker.io
  license:
    name: MIT

servers:
  - url: https://api.intern-tracker.io/v2
    description: Production (via Choreo Gateway)
  - url: http://localhost:5001
    description: Local development

# ── WSO2 API Manager throttling tier extensions ───────────────────────────
# These x-wso2-* extensions are consumed by the APIM Publisher portal.
x-wso2-basePath: /internship/v2
x-wso2-throttling-tier: Unlimited
x-wso2-cors:
  corsConfigurationEnabled: true
  accessControlAllowOrigins:
    - "*"
  accessControlAllowCredentials: false
  accessControlAllowMethods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
  accessControlAllowHeaders:
    - Authorization
    - Content-Type
    - X-Request-ID
    - X-Quota-Tier

# ── Security ──────────────────────────────────────────────────────────────
components:
  securitySchemes:
    AsgardeoOIDC:
      type: openIdConnect
      openIdConnectUrl: https://api.asgardeo.io/t/YOUR_ORG/.well-known/openid-configuration
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # ── Response headers shared across all endpoints ──────────────────────
  headers:
    X-Request-ID:
      description: Correlation ID for distributed tracing
      schema: { type: string, format: uuid }
    X-Quota-Tier:
      description: Caller's API tier (free / premium / enterprise)
      schema: { type: string, enum: [free, premium, enterprise] }
    X-Quota-Used:
      description: Daily write operations consumed
      schema: { type: integer }
    X-Quota-Limit:
      description: Daily write operation limit (or "unlimited")
      schema: { type: string }
    X-Quota-Remaining:
      description: Remaining write operations today
      schema: { type: string }

  # ── Reusable response schemas ─────────────────────────────────────────
  schemas:
    Error:
      type: object
      properties:
        code:    { type: string }
        message: { type: string }

    QuotaExceeded:
      type: object
      properties:
        code:                { type: string, example: QUOTA_EXCEEDED }
        message:             { type: string }
        tier:                { type: string }
        limit:               { type: integer }
        quotaUsed:           { type: integer }
        upgradeUrl:          { type: string }
        retryAfterSeconds:   { type: integer }

    User:
      type: object
      properties:
        _id:       { type: string }
        name:      { type: string }
        email:     { type: string, format: email }
        role:      { type: string, enum: [student, admin, reviewer] }
        tenantId:  { type: string }
        tier:      { type: string, enum: [free, premium, enterprise] }
        quotaUsed: { type: integer }

    Application:
      type: object
      required: [companyName, role, appliedDate]
      properties:
        _id:            { type: string }
        companyName:    { type: string, example: "WSO2" }
        role:           { type: string, example: "Software Engineer Intern" }
        roleType:       { type: string, enum: [SE, PM, Data, Design, QA, Other] }
        appliedDate:    { type: string, format: date }
        status:         { type: string, enum: [Pending, Interviewed, Accepted, Rejected, Offer] }
        tenantId:       { type: string }
        notes:          { type: string }
        portfolioLink:  { type: string }
        portfolioViewed:{ type: boolean }

    AnalyticsSummary:
      type: object
      properties:
        stats:
          type: object
          properties:
            total:          { type: integer }
            pending:        { type: integer }
            interviewed:    { type: integer }
            accepted:       { type: integer }
            rejected:       { type: integer }
            offer:          { type: integer }
            portfolioViewed:{ type: integer }
            successRate:    { type: number }
        roleBreakdown:
          type: array
          items:
            type: object
            properties:
              name:  { type: string }
              value: { type: integer }

    MetricsSnapshot:
      type: object
      properties:
        uptimeSeconds:  { type: integer }
        totalRequests:  { type: integer }
        avgLatencyMs:   { type: integer }
        routeStats:
          type: array
          items:
            type: object
            properties:
              route:       { type: string }
              requests:    { type: integer }
              avgLatencyMs:{ type: integer }
              errors:      { type: integer }
              errorRate:   { type: string }
        domainEvents: { type: object }
        tierUsage:
          type: object
          properties:
            free:       { type: integer }
            premium:    { type: integer }
            enterprise: { type: integer }

# ── Paths ─────────────────────────────────────────────────────────────────
security:
  - BearerAuth: []

paths:
  # ── Auth ────────────────────────────────────────────────────────────────
  /api/auth/register:
    post:
      tags: [Authentication]
      summary: Register with email and password
      x-wso2-throttling-tier: 20PerMin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:     { type: string }
                email:    { type: string, format: email }
                password: { type: string, minLength: 6 }
      responses:
        "201":
          description: User registered
        "409":
          description: Email already in use

  /api/auth/login:
    post:
      tags: [Authentication]
      summary: Login with email and password
      x-wso2-throttling-tier: 10PerMin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:    { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Tokens returned
        "401":
          description: Invalid credentials

  /api/auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      x-wso2-throttling-tier: 20PerMin
      security: []
      responses:
        "200": { description: New access token issued }
        "401": { description: Invalid or expired refresh token }

  /api/auth/me:
    get:
      tags: [Authentication]
      summary: Get current user profile
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }

  # ── Applications ─────────────────────────────────────────────────────────
  /api/applications:
    get:
      tags: [Applications]
      summary: List all applications for the authenticated student
      x-wso2-throttling-tier: Gold
      parameters:
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: roleType
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
      responses:
        "200":
          description: Applications list
          headers:
            X-Quota-Tier:      { $ref: "#/components/headers/X-Quota-Tier" }
            X-Quota-Remaining: { $ref: "#/components/headers/X-Quota-Remaining" }

    post:
      tags: [Applications]
      summary: Create a new application
      x-wso2-throttling-tier: Silver
      description: |
        **Quota-counted** — each POST increments the caller's daily write quota.
        Free tier: 100/day. Premium: 10,000/day. Enterprise: unlimited.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Application" }
      responses:
        "201":
          description: Application created
        "429":
          description: Daily quota exceeded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuotaExceeded" }

  /api/applications/{id}:
    put:
      tags: [Applications]
      summary: Update an application (quota-counted)
      x-wso2-throttling-tier: Silver
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Application" }
      responses:
        "200": { description: Updated }
        "429":
          description: Quota exceeded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/QuotaExceeded" }

    delete:
      tags: [Applications]
      summary: Delete an application (quota-counted)
      x-wso2-throttling-tier: Silver
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200": { description: Deleted }
        "404": { description: Not found }

  # ── Analytics ─────────────────────────────────────────────────────────────
  /api/analytics:
    get:
      tags: [Analytics]
      summary: Get analytics for the authenticated user
      x-wso2-throttling-tier: Gold
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AnalyticsSummary" }

  # ── Admin / Metrics ───────────────────────────────────────────────────────
  /api/metrics:
    get:
      tags: [Admin, Observability]
      summary: Full system metrics snapshot (admin only)
      x-wso2-throttling-tier: Gold
      responses:
        "200":
          description: Metrics snapshot
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MetricsSnapshot" }
        "403": { description: Admin role required }

  /api/metrics/events:
    get:
      tags: [Admin, Observability]
      summary: Domain event audit log (admin only)
      x-wso2-throttling-tier: Gold
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        "200":
          description: Event log
        "403": { description: Admin role required }

  /api/metrics/security:
    get:
      tags: [Admin, Observability]
      summary: Security event log — failed auth and quota breaches (admin only)
      x-wso2-throttling-tier: Gold
      responses:
        "200": { description: Security events }
        "403": { description: Admin role required }

  /api/admin/dashboard:
    get:
      tags: [Admin]
      summary: Platform-level user and application stats (admin only)
      x-wso2-throttling-tier: Gold
      responses:
        "200": { description: Admin dashboard stats }
        "403": { description: Admin role required }
